.textInput {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: text;

    :global(.squircleBorder) {
        transition: background .2s ease-out;
    }

    &:hover {
        --squircle-border-background: color-mix(in oklab, var(--colorBgQuaternary) calc(100% - 10%), var(--colorTextPrimaryFull) 10%);
    }

    &:has(input:focus) {
        --squircle-border-background: var(--colorAccentPrimaryFull);
    }

    .icon {
        margin-left: 11px;
        pointer-events: none !important;
    }

    input {
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: -1;
    }

    .keyPrompt {
        margin: 7px;
    }
}