.button {
    width: 36px;
    height: 36px;
    --squircle-background: var(--colorAccentPrimaryFull);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5px;
    cursor: pointer;

    &, &::before, .highlight, .highlight::before {
        transition: background .2s ease-out;
    }

    &:hover {
        --squircle-background: color-mix(in oklab, var(--colorAccentPrimaryFull) calc(100% - 10%), var(--colorTextPrimaryFull) 10%);
    }

    &:active {
        --squircle-background: color-mix(in oklab, var(--colorAccentPrimaryFull) calc(100% - 10%), var(--colorBgPrimary) 10%);
    }

    .highlight {
        z-index: -1;
        position: absolute;
        inset: 0;
        --squircle-background: inherit;
        --squircle-border: var(--colorHighlight15);
    }
}