@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono.ttf') format('truetype');
  font-weight: 100 900;
}

.tensorui.dark {
    --color-bg-primary: oklab(17.4% 1.5% -2.75%);
    --color-bg-secondary: oklab(20.1% 1.75% -3%);
    --color-bg-tertiary: oklab(25.1% 2.25% -4.25%);
    --color-bg-quaternary: oklab(29.2% 2% -4.5%);

    --color-text-primary-full: oklab(93% 3.5% -8.5%);
    --color-text-primary-partial: oklab(93% 3.5% -8.5% / .10);
    --color-text-primary-zero: oklab(93% 3.5% -8.5% / 0);
    --color-text-secondary-full: oklab(82.4% 5.5% -14%);
    --color-text-secondary-partial: oklab(82.4% 5.5% -14% / .10);
    --color-text-secondary-zero: oklab(82.4% 5.5% -14% / 0);

    --color-accent-primary-full: oklab(54.9% 15.25% -63.25%);
    --color-accent-primary-partial: oklab(54.9% 15.25% -63.25% / .10);
    --color-accent-primary-zero: oklab(54.9% 15.25% -63.25% / 0);

    --color-highlight15: linear-gradient(oklab(93% 3.5% -8.5% / .15), oklab(17.4% 1.5% -2.75% / .15));
    --color-highlight10: linear-gradient(oklab(93% 3.5% -8.5% / .1), oklab(17.4% 1.5% -2.75% / .1));
    --color-highlight5: linear-gradient(oklab(93% 3.5% -8.5% / .05), oklab(17.4% 1.5% -2.75% / .05));
    --color-highlight-zero: linear-gradient(oklab(93% 3.5% -8.5% / 0), oklab(17.4% 1.5% -2.75% / 0));

    --color-radial-highlight5: radial-gradient(ellipse 70% 98% at center top, oklab(93% 3.5% -8.5% / .05) 0%, oklab(17.4% 1.5% -2.75% / .05) 75%);
}

.tensorui {
    background-color: var(--color-bg-primary);

    h1, h2, h3, h4, h5, h6, p, ol, li, ul, input, button, textarea {
        font-family: Geist;
        letter-spacing: .1;
    }

    h1, h2, h3, h4, h5, h6, p, ol, li, ul {
        white-space: pre-line;
    }
    

    h1 { font-size: 1.5rem }
    h2 { font-size: 1.375rem }
    h3 { font-size: 1.25rem }
    h4 { font-size: 1.125 }
    h5 { font-size: 1rem }
    h6 { font-size: 0.875rem }

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-text-primary-full);
        font-weight: 600;
    }

    p, li, ul {
        color: var(--color-text-secondary-full);
        font-weight: 400;
        line-height: 150%;
    }

    button,
    input,
    optgroup,
    select,
    textarea,html input[type="button"],
    input[type="reset"],
    input[type="submit"],button[disabled],
    html input[disabled],button::-moz-focus-inner,
    input::-moz-focus-inner, input[type="checkbox"],
    input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
    }

    input {
        background-color: transparent;
    }

    input, textarea {
        color: var(--color-text-primary-full);
        font-weight: 400;
        font-size: 0.875rem;

        &::placeholder {
            color: var(--color-text-secondary-full);
        }
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
}