.keyPrompt {
    min-width: fit-content;
    height: min-content;
    --squircle-background: var(--color-text-secondary-partial);
    --squircle-border-background: var(--color-highlight5);
    height: 22px !important;
    display: block;

    p {
        font-size: 0.875rem !important;
        box-sizing: border-box;
        padding: 1px 7px;
    }
}