.heading {
    font-size: 13px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: var(--colorTextPrimaryFull) !important;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 11px;
}