.tensorui.dark {
    --colorBgPrimary: oklab(17.4% 1.5% -2.75%);
    --colorBgSecondary: oklab(20.1% 1.75% -3%);
    --colorBgTertiary: oklab(25.1% 2.25% -4.25%);
    --colorBgQuaternary: oklab(29.2% 2% -4.5%);

    --colorTextPrimaryFull: oklab(93% 3.5% -8.5%);
    --colorTextPrimaryPartial: oklab(93% 3.5% -8.5% / .10);
    --colorTextPrimaryZero: oklab(93% 3.5% -8.5% / 0);
    --colorTextSecondaryFull: oklab(82.4% 5.5% -14%);
    --colorTextSecondaryPartial: oklab(82.4% 5.5% -14% / .10);
    --colorTextSecondaryZero: oklab(82.4% 5.5% -14% / 0);

    --colorAccentPrimaryFull: oklab(54.6% 14.25% -63.5%);
    --colorAccentPrimaryPartial: oklab(54.6% 14.25% -63.5% / .10);
    --colorAccentPrimaryZero: oklab(54.6% 14.25% -63.5% / 0);

    --colorHighlight15: linear-gradient(oklab(93% 3.5% -8.5% / .15), oklab(17.4% 1.5% -2.75% / .15));
    --colorHighlight5: linear-gradient(oklab(93% 3.5% -8.5% / .05), oklab(17.4% 1.5% -2.75% / .05));
    --colorHighlightZero: linear-gradient(oklab(93% 3.5% -8.5% / 0), oklab(17.4% 1.5% -2.75% / 0));

    --colorRadialHighlight6: radial-gradient(ellipse 100% 98% at center top, oklab(93% 3.5% -8.5% / .06) 0%, oklab(17.4% 1.5% -2.75% / .06) 75%);
}

.tensorui {
    background-color: var(--colorBgPrimary);

    h1, h2, h3, h4, h5, h6, p, input, button {
        font-family: Geist;
        letter-spacing: .1;
    }

    input {
        background-color: transparent;
    }

    h1 { font-size: 2rem }
    h2 { font-size: 1.5rem }
    h3 { font-size: 1.125rem }
    h4 { font-size: 1rem }
    h5 { font-size: .875rem }
    h6 { font-size: .625rem }
    p { font-size: 0.875rem }

    h1, h2, h3, h4, h5, h6 {
        color: var(--colorTextPrimaryFull);
        font-weight: 600;
    }

    p {
        color: var(--colorTextSecondaryFull);
        font-weight: 400;
    }

    button,
    input,
    optgroup,
    select,
    textarea,html input[type="button"],
    input[type="reset"],
    input[type="submit"],button[disabled],
    html input[disabled],button::-moz-focus-inner,
    input::-moz-focus-inner, input[type="checkbox"],
    input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
    }

    input {
        color: var(--colorTextPrimaryFull);

        &::placeholder {
            color: var(--colorTextSecondaryFull);
        }
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
}