.button {
    width: fit-content;
    height: 36px;
    --squircle-background: var(--background);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    transition: background .2s ease-out;
    font-size: 0.875rem;
    color: var(--colorTextPrimaryFull);
    padding: 0px 7px;

    &.fill {
        width: 100%;
    }

    &.primary {
        --background: var(--colorAccentPrimaryFull);
        --background-hover: color-mix(in oklab, var(--colorAccentPrimaryFull) calc(100% - 10%), var(--colorTextPrimaryFull) 10%);
        --background-active: color-mix(in oklab, var(--colorAccentPrimaryFull) calc(100% - 10%), var(--colorBgPrimary) 10%);
    }

    &.ghost {
        --background: transparent;
        --background-hover: var(--colorTextPrimaryPartial);
        --background-active: color-mix(in oklab, var(--colorTextPrimaryPartial) calc(100% - 10%), var(--colorBgPrimary) 10%);
        
        --highlight-background: var(--colorHighlight5);
        --highlight-opacity: 0;
        --highlight-opacity-hover-active: 1;
    }

    &[aria-disabled=true], &:disabled {
        cursor: not-allowed !important;
        --squircle-background: var(--background) !important;
        opacity: 50%;
        pointer-events: none;
    }

    &:hover {
        --squircle-background: var(--background-hover);
        
        .highlight {
            opacity: var(--highlight-opacity-hover-active) !important;
        }
    }

    &:active {
        --squircle-background: var(--background-active);

        .highlight {
            opacity: var(--highlight-opacity-hover-active) !important;
        }
    }

    .highlight {
        z-index: -1;
        position: absolute;
        inset: 0;
        --squircle-border-background: var(--highlight-background, var(--colorHighlight15));
        opacity: var(--highlight-opacity, 1);
        transition: opacity .2s ease-out;
    }

    .leftContent {
        display: flex;
        padding: 0px 4px;
        gap: 10px;

        &.left {
            justify-content: start;
        }

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: end;
        }
    }
}