.button {
    width: fit-content;
    height: 36px;
    --squircle-background: var(--background);
    --squircle-border-background: var(--border-background, var(--color-highlight15));
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background .2s ease-out;
    font-size: 0.875rem;
    color: var(--color-text-primary-full);
    padding: 0px 7px;

     &::before {
        opacity: var(--border-opacity, 1);
        transition: opacity .2s ease-out;
    }

    &.fill {
        width: 100%;
    }

    &.primary {
        --background: var(--color-accent-primary-full);
        --background-hover: color-mix(in oklab, var(--color-accent-primary-full) calc(100% - 10%), var(--color-text-primary-full) 10%);
        --background-active: color-mix(in oklab, var(--color-accent-primary-full) calc(100% - 10%), var(--color-bg-primary) 10%);
    }

    &.ghost {
        --background: transparent;
        --background-hover: var(--color-text-primary-partial);
        --background-active: color-mix(in oklab, var(--color-text-primary-partial) calc(100% - 10%), var(--color-bg-primary) 10%);
        
        --border-background: var(--color-highlight5);
        --border-opacity: 0;
        --border-opacity-hover-active: 1;
    }

    &[aria-disabled=true], &:disabled {
        cursor: not-allowed !important;
        --squircle-background: var(--background) !important;
        opacity: 50%;
        pointer-events: none;
    }

    &:hover {
        --squircle-background: var(--background-hover);
        
        &::before {
            opacity: var(--border-opacity-hover-active) !important;
        }
    }

    &:active {
        --squircle-background: var(--background-active);

        &::before {
            opacity: var(--border-opacity-hover-active) !important;
        }
    }

    .leftContent {
        display: inline-flex;
        padding: 0px 4px;
        gap: 9px;

        &.left {
            justify-content: start;
        }

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: end;
        }
    }
}