.sendMessageBox {
    width: 100%;
    height: max-content;
    padding: 18px;
    gap: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        --squircle-border-background: color-mix(in oklab, var(--color-bg-quaternary) calc(100% - 10%), var(--color-text-primary-full) 10%) !important;
    }

    &:has(textarea:focus) {
        --squircle-border-background: var(--color-accent-primary-full) !important;
    }

    &::before {
        transition: background .2s ease-out;
    }

    & > textarea {
        font-size: 1rem;
        padding: 7.5px 12px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modelOptions, .messageOptions {
            display: flex;
            gap: 9px;
        }

        .messageOptions {
            flex-direction: row-reverse;
        }
    }
}