.chip {
    width: fit-content;
    height: fit-content;
    padding: 7.5px 12px;
    gap: 10px;
    border-radius: 50em;
    font-size: 14px;
    background-color: var(--colorTextPrimaryZero);
    color: var(--colorTextPrimaryFull);
    position: relative;
    display: flex;
    gap: 9px;
    align-items: center;
    cursor: pointer;
    
    &, &::before {
        transition: background .2s ease-out;
    }

    .icon {
        width: 14px;
        height: 14px;
        mask-size: 100% 100%;
        background-color: var(--colorTextPrimaryFull);
    }

    .dropdown {
        width: 11px;
        height: 7px;
        mask-image: url("/icons/downArrow.svg");
        mask-size: 100% 100%;
        background-color: var(--colorTextPrimaryFull);
    }

    &:hover {
        background: var(--colorTextPrimaryPartial);

        &::before {
            background: var(--colorHighlight6);
        }
    }

    &:active {
        background: color-mix(in oklab, var(--colorTextPrimaryPartial) calc(100% - 10%), var(--colorBgPrimary) 10%);
    }

    &::before {
        content: "";
        inset: 0px;
        position: absolute;
        border-radius: 500px;
        padding: 1px;
        background: var(--colorHighlightZero);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}