.squircle {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--squircle-border-background);

    &.squirclePre {
        padding: var(--border-width);
        border-radius: var(--corner-radius);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &.squirclePost {
        mask-size: 100%;
        mask-repeat: no-repeat;
        mask-composite: exclude
    }
}